
<center>
<h2> All conversation </h1>
<p>
<%= flash[:notice] %>
</p>
 <% if @conversation_with.present? %>
<table>
 
 
  <% @conversation_with.each do |c| %>
    <tr>
     
      <td><%= c.name %></td> 
      <td> <%= link_to ' Show ', new_user_message_path(c.id) ,:class => "links"%></td>
      <td><%= link_to ' Delete conversation ', delete_conversation_path(c.id),method: :delete ,:class => "links"%></td>
    </tr>
  <% end %>
  
</table>
<% else %>
Not any conversation
<% end %>
<br> 
<br>
<br>
 </center>