
<center>
<h3> My Posts</h3>
 
<table bordercolor=brown, border=1>
  <tr >
    <th> Post</th>   
    <th> Post date </th>
    <th> View </th>
   
  </tr>
 
  <% @article.each do |article| %>
    <tr>
    
      <td><b><%= article.about%></b></td>
      <td><b><%= article.date %></b></td>
     
      <td><%= link_to ' Show ', usertitle_path(@user,article), :class => "links" %></td>
      
    </tr>
  <% end %>
</table>
<br>
<br>

 </center>