<center>
<table border="1" bordercolor="green" style="margin-top:12%">
  <tr>
   <td>    
    <font color="red"> <center> <%= devise_error_messages! %> </center></font>
   </td>
  </tr>
 
</table>

</center>
