
<%= form_for Article.new, url: user_articles_path(current_user.id) do |f| %>
  <p>
  <%= f.text_area :about,:align => 'center',:cols => 40 ,:id => "post_content",:placeholder => " Share your views with people" %><br>
    <%= f.file_field :image %>
  </p>
  <p>
    <%= f.submit  "Post" , :class => "button" %>
  </p>
  <% end %>

  