

<h3> These person likes this post</h3>
 
  <% @likes.each do |like| %>
  
      <%= find_user(like.user_id).name %> 
      <%= link_to 'View profile' , profile_path(like.user_id),:class => "links" %>
    <br>
  <% end %>
<br>

<%= link_to ' Back ', :back %><br>
